<div class="app">
</div>

<div id="info" class="modal">
</div>

<div id="footer">
    <form role="form" class="form" id="connection">
        <input required id="ip" name="field" type="text" placeholder="url">
        <input type="text" name="username" id="username" class="text" maxlength="30" placeholder="login" />
        <input type="password" name="password" id="password" class="text" maxlength="30" placeholder="password" />
        <button class="btn btn-positive btn-block" type="submit">Connect</button>
    </form>
</div>