<div id="popover" class="popover">
    <ul class="table-view">
        <li class="table-view-cell"><a id="refresh">Refresh</a></li>
        <li class="table-view-cell"><a id="information">Information</a></li>
        <li class="table-view-cell"><a id="settings">Settings</a></li>
        <li class="table-view-cell"><a id="disconnect">Quit</a></li>
    </ul>
</div>

<header class="bar bar-nav">
    <a href="#popover">
       <span class="icon icon-more-vertical pull-right"></span>
     </a>
    <a id="disconnect" class="icon icon-left-nav pull-left"></a>
    <h1 class="title">Yaml Models</h1>
</header>

<div id="info" class="modal">
</div>

<div class="content">
    <div class="card" id="content-padded">
     </div>
</div>