<header class="bar bar-nav">
    <button id="back_model" class="btn btn-link btn-nav pull-left">
       <span class="icon icon-left-nav"></span>
    </button>
</header>

<div id="info" class="modal">
</div>

<div class="content">
    <div class="card">
        <div id="param">
            <div id="spinner" class="center">
                <img src="img/ajax-loader.gif" alt="Loading..." />
            </div>
        </div>
    </div>
</div>

<div class="bar bar-standard bar-footer"> <a id="save_yaml" class="icon icon-check pull-right"></a></div>